<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link
      href="{{url_for('static',filename='style.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{{url_for('static',filename='code.js')}}" async></script>
  </head>

  <body>
    <h1>Monnier & Cie : Réparateur agréé de traineaux</h1>
    <div>
      <video loop>
        <source
          src="{{url_for('static',filename='film_traineau.mp4')}}"
          type="video/mp4"
        />
      </video>
      <img
        src="{{url_for('static',filename='qrcode.png')}}"
        width="200"
        height="200"
      />
      <span>
        <label for="saisie">Saisir les mots magiques : </label>
        <input id="saisie" type="text" name="text" />
      </span>
      <audio
        id="lecteur"
        src="{{ url_for( 'static', filename='merry.mp3' ) }}"
        controls
        preload="auto"
      >
        Votre navigateur ne supporte pas la balise audio.
      </audio>
    </div>
  </body>
</html>
