<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>

<head>

    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css"> 
    <script src="{{url_for('static',filename='code.js')}}" async></script>


</head>

<body >
<h1 >Monnier & Cie : Réparateur agréé de traineaux</h1>
<div ><br/>

    <p><img src="{{url_for('static',filename='qrcode.png')}}"></p>
    
    <label for="sample">Saisir les mots magiques : </label>
    <input id = "saisie" type="text" name="text" id="sample" />

    <audio id="lecteur" src="{{ url_for( 'static', filename='merry.mp3' ) }}" controls preload="auto"> Votre navigateur ne supporte pas la balise audio.
    </audio>


</div>
</body>





</HTML>